.list {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    font-size: 2em;
}


.listitems {
    border: 10px;
    padding: 5px;
}

#list1, #list2, #list3, #list4, #list5 {
    background-color:grey;
    margin: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid black;
    padding: 10px;
}

#list1:hover, #list2:hover, #list3:hover, #list4:hover, #list5:hover {
    background-color:blue;
}

