#email {
    background-color: green;
    font-weight:bolder;
}

.first-para {
    font-size: 1.3em;
    color: darkblue;
    font-weight: bold;
    font-family: monospace;
}


h1, h2, h3 {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: blue;
}

td {
    color:red;
    font-weight: bold;
}

button {
    background-color:lightblue;
    border-radius: 10px;
    font-size: 16px;
}

input {
    border: none;
    border-bottom: dotted 1px black;
}

label {
    color: black;

}