.box-dim-200-200 {
    width:200px;
    height:200px;
    margin: 20px;
    padding: 30px;
}

#box0 {
    border: 1px solid red;
    background-color: aliceblue;
}

#box1 {
    border: 1px solid blue;
    background-color: grey;
}

#box0:hover, #box1:hover {
    border-radius: 100px;
}


#box:before {
    content: "hello css, world";
}

p:before {
    content: url("http://www.ccc.commnet.edu/writing/paragraph.gif")
}

/*span {*/
    /*display: block;*/
    /*font-size: 2em;*/
/*}*/

/*#hello {*/
    /*position: relative;*/
    /*top: 50px;*/
    /*left: 300px;*/
/*}*/
/*div {*/
    /*display: inline;*/
/*}*/

span {
    border: 10px solid purple;
    padding: 10px;
    margin: 10px;
}